
body { 
font-family: "Roboto", sans-serif;
color: #434455;
background-color:#fff; 
}
ul, ol { list-style-type: none; 
margin: 0;  
padding: 0;  
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
} 
a { text-decoration: none;}
.container {
max-width: 1158px;   
padding: 0 15px ;  
margin: 0 auto ;
}
/* header */
/*
.footer-logo .logo-part {
color: #f4f4fd; }

.address { font-style: normal;
margin-left: auto;    
}

 


.button {
min-width: 169px; 
height: 56px;   
border: none;
border-radius: 4px;
display: block;
margin: auto;    
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor:pointer;
color: #fff;
background-color: #4d5ae5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* feature */


.icon {

}



.feature-name {
display: flex;

gap: 24px;    
}


/* team */
/* img {
display: block;    
}
.team-section {
padding-top: 120px;;  
padding-bottom: 120px;  
margin: auto;
background: #f4f4fd;
}
.team-card-title {
margin-bottom: 72px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
}  
.team-name {
width: calc((100% - 72px) / 4);
background: #fff;
border-radius: 0 0 4px 4px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
} 

.team-foto {
width: 264px;
height: 260px;
}
.container-card {
padding: 32px 0;    
}

.team-title {
text-align: center;
font-weight:  500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
color: #2e2f42;

} 
.team-job {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align:center;
color: #434455;
text-align: center;
}
.team-list {

display: flex;
gap: 24px;

}
.team-media {
display: flex;
align-items: center;
justify-content: center;
gap: 24px;
margin-top: 8px;
margin-bottom: 0;
}

.team-social-link:hover,
.team-social-link:focus
{
    background-color: #404bbf;
}
 */

/*portfolio */
/* .portfolio-section {
padding-top: 120px ;
padding-bottom: 120px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}
.portfolio-card-title {
margin-bottom: 72px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align:center;
color: #2e2f42;
} 
.portfolio-name {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
} 
 .portfolio-card:hover .box-text {
transform: translateY(0%); }
.portfolio-card {
width: calc((100% - 48px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
cursor: pointer;
}
.portfolio-card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
    
.portfolio-job {

border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
padding: 32px 16px;
width: 360px;
height: 120px;
}
:root {
    --light-text: #f4f4fd;
    --white-color: #ffffff;
    --primary-brand: #4d5ae5;
    --light-color: #f4f4fd;
     --ocean: #404BBF;
     --cornflower: #2e2f42;
--text-grey: #8e8f99;
--navy-blue: #2e2f42;
--clode: #F4F4FD;
--iris: #4d5ae5;
}
.box-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: var(--light-text);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.portfolio-title {
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.portfolio-foto {
}
.portfolio-list {
position: relative;
overflow: hidden;
}
.portfolio-product {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455
} */


/*.social-link:hover,
.social-link:focus {
    background-color: #31d0aa;
} */
/* .mobile-media {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 24px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.mobile-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 200ms;
}

.mobile-social-link:hover {
    background-color: #4d5ae5;
}

.icon-media {
    fill: #ffffff; */
/* width: 100%;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    border-radius: 0 0 4px 4px;
    max-height: 428px
    border-radius: 0 0 4px 4px; */
/* footer */
/*.footer-container {
display: flex;
align-items: baseline;

}
.logo-conteiner{
   margin-right: 120px }
.footer-logo  {
display: inline-block;    
margin-bottom: 16px;    
}

.page-footer {
padding: 100px 0;
background: #2e2f42;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
} */
/*.footer-text {
width: 264px ; 
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
} */
justify-content: space-between;
align-items: baseline;
.media {
width: 208px;
height: 80px;
text-align: right;  
margin-left: 540px;
margin-right: auto;
margin-top: 100px;
margin-bottom: 132px;
}

/*.icon-media {
display: inline-block;
justify-content: flex-start;
width: 40px;
fill: var(--light-color);
    
} */
 

.media-container  {
}
/*.media-text,
.footer-sign-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--white-color);
margin-bottom: 16px;
}
.footer-media {
    display: flex;
    gap: 16px;

} */
.social-link,
 .team-social-link {
    width: 100%;
        height: 100%;
        background-color: var(--primary-brand);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 
}
.social-item {
    width: 40px;
    height: 40px;
}

.social-link:hover,
.social-link:focus {
    background-color: #31d0aa;
}

/*
.footer-sign {
    margin-left: auto;
    
}
.sign-form {
    display: flex;
    gap: 24px;
        justify-content: center;
        align-items: center

} */
.sign-label {
    display: block;
}
.sign-input {
width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}
.sign-input::placeholder {
    color: #ffffff;
}
/*.sign-button {
    min-width: 165px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4d5ae5;
        border: none;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.sign-button:hover,
.sign-button:focus {
    background-color: #404bbf;
    border: none;
}
.sign-icon {
    margin-left: 16px;
    fill: #ffffff;
}

/* modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
opacity: 0;
visibility: hidden;
pointer-events: none;
}
/*
.backdrop.is-open {
    padding: 72px 24px 24px 24px;
    opacity: 1;
        visibility: visible;
        pointer-events: auto;

} 
.modal {
    
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px;
}
.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1,5);
}


.text-cont {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        
       
        margin-bottom: 16px;
        color: var(--navy-blue);
          
} */
/* button */
/* .form-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: #4D5AE5;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    color: white;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 4px;
   
    cursor: pointer;
}

.form-button:hover,
.form-button:focus {
    background-color: #3d47c4;
}

.modal-btn {
top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #e7e9fc;
       width: 24px;
height: 24px;

       position: absolute;
    padding: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border: 1px solid rgba(0, 0, 0, 0.1);
               border-radius: 50%;
            cursor: pointer;
    
    }
      .modal-btn:hover,
      .modal-btn:focus {
    background-color: #404bbf;
    border: none;
    
      }
    .modal-btn:hover .close-icon,
    .modal-btn:focus .close-icon {
    fill: #ffffff;
     } 
    .close-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
             
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    max-width: 360px;
    width: 100%;
    box-sizing: border-box;
} */
/* name */
/*
.form-field {
margin-bottom: 8px;
    width: 100%;
   
}
.form-comment {
    margin-bottom: 16px;
    width: 100%;
    
}


.form-label{


    display: block;
        margin-bottom: 4px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--text-grey);
    } 
*/
/* phone */
/*/
.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4d5ae5;
} */
/* email */
    /*   
.input-wrap {
    position: relative;
}

.text {
margin-bottom: 4px; 

}
.label-text {
margin-bottom: 8px;
color: #2e2f42;
} */
/* textaria */ /*
.form-textarea {
    width: 100%;
      min-height: 120px; 
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
       
        background-color: transparent;
border: 1px solid rgba(46, 47, 66, 0.4);
        padding: 8px 16px;
        outline: transparent;
        resize: none;
        
        border-radius: 4px;
        
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}
.form-textarea:focus {
    border-color: #4D5AE5;
    
} */
/* checkbox */ /*
.checkbox {
    display: flex;
    align-items: center;
    font-size: 13px;
   
}
.form-agreement {
margin-bottom: 24px; 
display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #2e2f42;
width: 100%;
}


.checkbox-span {
    width: 16px;
    height: 16px;
    
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
fill: transparent;
}
.checkbox-input {
    appearance: none;
    position: absolute;
}

.checkbox-input:checked + .checkbox-label .checkbox-span {
    background-color: var(--ocean);
        border: none;
        fill: var(--clode);
    
}


.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--text-grey); 
}



.privacy-link {
    color: var(--iris); }

.input-icon {
 position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.form-input:focus + .input-icon {
fill: #4d5ae5;
 } 









.footer-container {
    display: flex;
    align-items: baseline;

}

.logo-conteiner {
    margin-right: 120px
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}
*/
/*.page-footer {
    padding: 100px 0;
    background: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;

}

.footer-text {
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
} 

.media {
    width: 208px;
    height: 80px;
    text-align: right;
    margin-left: 540px;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 132px;
}

.icon-media {
    display: inline-block;
    justify-content: flex-start;
    width: 40px;
    fill: var(--light-color);

}


.media-container {}

.media-text,
.footer-sign-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 16px;
}

.footer-media {
    display: flex;
    gap: 16px;

}

.social-link,
.team-social-link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color
}

.social-item {
    width: 40px;
    height: 40px;
}*/

/*.social-link:hover,
.social-link:focus {
    background-color: #31d0aa;
}  


.footer-sign {
    margin-left: auto;

}
*/
 /*.sign-form {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center
}

.sign-label {
    display: block;
}*/

/*.sign-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.sign-input::placeholder {
    color: #ffffff;
}

.sign-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.sign-button:hover,
.sign-button:focus {
    background-color: #404bbf;
    border: none;
}

.sign-icon {
    margin-left: 16px;
    fill: #ffffff;
} */









/*.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
} 



.footer-text {
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}  */

.media {
    width: 208px;
    height: 80px;
    text-align: right;
    margin-left: 540px;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 132px;
}

/*.icon-media {
    display: inline-block;
    justify-content: flex-start;
    width: 40px;
    fill: var(--light-color);

} */


.media-container {}

/*.media-text,
.footer-sign-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 16px;
}

.footer-media {
    display: flex;
    gap: 16px;

} 

.social-link,
.team-social-link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color
}
*/
/*.social-item {
    width: 40px;
    height: 40px;
} 

.social-link:hover,
.social-link:focus {
    background-color: #31d0aa;
} 


.footer-sign {
    margin-left: auto;

} 
.sign-form {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center
} 

.sign-label {
    display: block;
}

.sign-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
} 

.sign-input::placeholder {
    color: #ffffff;
}

.sign-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

} 

.sign-button:hover,
.sign-button:focus {
    background-color: #404bbf;
    border: none;
}

.sign-icon {
    margin-left: 16px;
    fill: #ffffff;
}  */

.sign-form {


    justify-content: flex-start;
}

.footer-sign-text {
    text-align: left;
}
}

@media screen and (min-width: 1158px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;
    }

    .logo-conteiner {
        width: 264px;
        margin-right: 120px;
        text-align: left;
    }

    .media-container {
        margin-right: 80px;
        text-align: left;
    }

    .footer-sign {
        width: 453px;
        flex-direction: column;
        height: auto;
        justify-content: flex-start;

    }

    .sign-form {
        display: flex;
        gap: 24px;
        justify-content: center;
        align-items: center
    }

    .sign-input {
        margin-bottom: 0;

    }
}

/*.sign-form {
  display: flex;
  column-gap: 24px;
  justify-content: center;
  align-items: center
}
*/



/*.logo-conteiner,
  .media-container,
  /*.footer-sign*/
/*{
    flex-basis: auto;
  }

/* @media screen and (min-width: 768px) and (max-width: 1157px) {
    .logo-conteiner {
  
      flex-basis: calc((100% - 24px) / 2);
      text-align: left;
      margin-right: 0;
      
} */
 logo-conteiner {
     width: 100%;

     /*justify-content: center;
  column-gap: 72px;
  text-align: center;*/
 }